<div>
  <div class="row border-bottom white-bg">
    <div class="col-lg-12 m-t-xs">
      <i class="fa fa-group m-r-sm"></i>
      <label class="font-bold">Students Profiles List</label>
    </div>
  </div>
  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-9">
        <div class="ibox">
          <div class="ibox-title">
            <h5>No. of Profiles in BE / BTech Courses</h5>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <td>#</td>
                    <td class="font-bold">2017-2021</td>
                    <td class="font-bold">2018-2022</td>
                    <td class="font-bold">2019-2023</td>
                    <td class="font-bold">2020-2024</td>
                    <td class="font-bold">Total Profiles</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="font-bold">BE CSE</td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-danger btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-info btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-success btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-warning btn-sm btn-outline dropdown-toggle"
                        >
                          78 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-sm dropdown-toggle"
                        >
                          578 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-bold">BE EEE</td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-danger btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-info btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-success btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-warning btn-sm btn-outline dropdown-toggle"
                        >
                          78 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-sm dropdown-toggle"
                        >
                          578 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-bold">BE ECE</td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-danger btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-info btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-success btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-warning btn-sm btn-outline dropdown-toggle"
                        >
                          78 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-sm dropdown-toggle"
                        >
                          578 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-bold">BTech IT</td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-danger btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-info btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-success btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-warning btn-sm btn-outline dropdown-toggle"
                        >
                          78 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-sm dropdown-toggle"
                        >
                          578 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-bold">B.Tech Mech</td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-danger btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-info btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-success btn-sm btn-outline dropdown-toggle"
                        >
                          57 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-warning btn-sm btn-outline dropdown-toggle"
                        >
                          78 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-sm dropdown-toggle"
                        >
                          578 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-bold">Total Profiles</td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-danger btn-sm dropdown-toggle"
                        >
                          578 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-info btn-sm dropdown-toggle"
                        >
                          578 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-success btn-sm dropdown-toggle"
                        >
                          578 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-warning btn-sm dropdown-toggle"
                        >
                          578 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-sm btn-outline dropdown-toggle"
                        >
                          578 Profiles
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAcademicData"
                              class="font-bold"
                            >
                              Academic Data's
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#!StudentsProfiles">
                              Profile Data's
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#!StudentsAttendanceData"
                            >
                              Attendance Data's
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Search Profile</h5>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-lg-12">
                <p>
                  Search profiles from BE / B.Tech Courses with Register Number
                </p>
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" />
                    <div class="input-group-append">
                      <button
                        type="button"
                        data-toggle="dropdown"
                        class="btn btn-primary btn-outline dropdown-toggle"
                      >
                        <i class="fa fa-search m-r-sm"></i>
                      </button>
                      <ul class="dropdown-menu float-right">
                        <li>
                          <a
                            class="dropdown-item"
                            href="#!StudentsAcademicData"
                            class="font-bold"
                          >
                            Academic Data's
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#!StudentsProfiles">
                            Profile Data's
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="!StudentsAttendanceData#"
                          >
                            A ttendance Dat a's
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <button
                      type="reset"
                      class="btn btn-md btn-block btn-outline btn-default m-t-md"
                    >
                      <strong>Reset</strong>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="ibox">
          <div class="ibox-title">
            <h5>
              Profiles
            </h5>
          </div>
          <div class="ibox-content">
            <div id="chart"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox">
          <div class="ibox-title">
            <h5>
              Profiles By Dept
            </h5>
          </div>
          <div class="ibox-content">
            <div id="chart2"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox">
          <div class="ibox-title">
            <h5>
              Profiles By Batch
            </h5>
          </div>
          <div class="ibox-content">
            <div id="chart3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
