<div>
  <div class="white-bg">
    <div class="row border-bottom m-l-xs">
      <i class="fa fa-users m-sm"></i>
      <label class="m-sm m-l-xs text-muted font-bold">
        Student Profile
      </label>
    </div>
  </div>
  <div class="row m-l-xs">
    <div class="col-lg-3 m-t-md">
      <div class="ibox-content text-center">
        <h3>Sathishkumar</h3>
        <h5>Subramaniam</h5>
        <div class="m-b-sm">
          <img
            alt="image"
            class="rounded-circle"
            src="../img/student-male-icon.jpg"
          />
        </div>
        <p class="font-bold">2017-2021 | BE CSE | 710311104035</p>

        <div class="text-center">
          <a href="#" class="btn btn-sm btn-white"
            ><i class="fa fa-thumbs-up"></i> Like
          </a>
          <a href="#" class="btn btn-sm btn-primary"
            ><i class="fa fa-heart"></i> Love</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-8 m-t-md">
      <div class="ibox">
        <div class="ibox-title"><h5>Student Activity Scores</h5></div>
        <div class="ibox-content">
          <div>
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <button type="button" class="btn btn-primary m-r-sm">
                      25
                    </button>
                    Days Present History
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger m-r-sm">
                      28
                    </button>
                    Days Absent History
                  </td>
                  <td>
                    <button type="button" class="btn btn-info m-r-sm">
                      15
                    </button>
                    Days OnDuty History
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" class="btn btn-info m-r-sm">
                      20
                    </button>
                    Cleared Exams
                  </td>
                  <td>
                    <button type="button" class="btn btn-success m-r-sm">
                      40
                    </button>
                    Cleared Backlocks
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger m-r-sm">
                      30
                    </button>
                    Pending Backlocks
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" class="btn btn-warning m-r-sm">
                      20
                    </button>
                    Articles Posted
                  </td>
                  <td>
                    <button type="button" class="btn btn-default m-r-sm">
                      40
                    </button>
                    Papers Presented
                  </td>
                  <td>
                    <button type="button" class="btn btn-warning m-r-sm">
                      30
                    </button>
                    Sports Activities
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" class="btn btn-primary m-r-sm">
                      12
                    </button>
                    Event/Activity Participations
                  </td>
                  <td>
                    <button type="button" class="btn btn-info m-r-sm">
                      28
                    </button>
                    Event/Activity Winner
                  </td>
                  <td>
                    <button type="button" class="btn btn-success m-r-sm">
                      15
                    </button>
                    Other Activity Credits
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-l-xs"></div>
  <div class="row">
    <div class="col-lg-8 m-t-md m-l-md">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Student Credit Score</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-3">
              <label>Semester 1</label>
              <h4 class="text-info">2018-2019</h4>
            </div>
            <div class="col-3">
              <label>Academic Score</label>
              <h4 class="text-warning">80 %</h4>
            </div>
            <div class="col-3">
              <label>Attendance Score</label>
              <h4 class="text-danger">75.3 %</h4>
            </div>
            <div class="col-3">
              <label>Other Activities</label>
              <h4 class="text-success">50 %</h4>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-3">
              <label>Semester 2</label>
              <h4 class="text-info">2018-2019</h4>
            </div>
            <div class="col-3">
              <label>Academic Score</label>
              <h4 class="text-warning">80 %</h4>
            </div>
            <div class="col-3">
              <label>Attendance Score</label>
              <h4 class="text-danger">75.3 %</h4>
            </div>
            <div class="col-3">
              <label>Other Activities</label>
              <h4 class="text-success">50 %</h4>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-3">
              <label>Semester 3</label>
              <h4 class="text-info">2018-2019</h4>
            </div>
            <div class="col-3">
              <label>Academic Score</label>
              <h4 class="text-warning">80 %</h4>
            </div>
            <div class="col-3">
              <label>Attendance Score</label>
              <h4 class="text-danger">75.3 %</h4>
            </div>
            <div class="col-3">
              <label>Other Activities</label>
              <h4 class="text-success">50 %</h4>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-3">
              <label>Semester 4</label>
              <h4 class="text-info">2018-2019</h4>
            </div>
            <div class="col-3">
              <label>Academic Score</label>
              <h4 class="text-warning">80 %</h4>
            </div>
            <div class="col-3">
              <label>Attendance Score</label>
              <h4 class="text-danger">75.3 %</h4>
            </div>
            <div class="col-3">
              <label>Other Activities</label>
              <h4 class="text-success">50 %</h4>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-3">
              <label>Semester 5</label>
              <h4 class="text-info">2018-2019</h4>
            </div>
            <div class="col-3">
              <label>Academic Score</label>
              <h4 class="text-warning">80 %</h4>
            </div>
            <div class="col-3">
              <label>Attendance Score</label>
              <h4 class="text-danger">75.3 %</h4>
            </div>
            <div class="col-3">
              <label>Other Activities</label>
              <h4 class="text-success">50 %</h4>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-3">
              <label>Semester 6</label>
              <h4 class="text-info">2018-2019</h4>
            </div>
            <div class="col-3">
              <label>Academic Score</label>
              <h4 class="text-warning">80 %</h4>
            </div>
            <div class="col-3">
              <label>Attendance Score</label>
              <h4 class="text-danger">75.3 %</h4>
            </div>
            <div class="col-3">
              <label>Other Activities</label>
              <h4 class="text-success">50 %</h4>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-3">
              <label>Semester 7</label>
              <h4 class="text-info">2018-2019</h4>
            </div>
            <div class="col-3">
              <label>Academic Score</label>
              <h4 class="text-warning">80 %</h4>
            </div>
            <div class="col-3">
              <label>Attendance Score</label>
              <h4 class="text-danger">75.3 %</h4>
            </div>
            <div class="col-3">
              <label>Other Activities</label>
              <h4 class="text-success">50 %</h4>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-3">
              <label>Semester 8</label>
              <h4 class="text-info">2018-2019</h4>
            </div>
            <div class="col-3">
              <label>Academic Score</label>
              <h4 class="text-warning">80 %</h4>
            </div>
            <div class="col-3">
              <label>Attendance Score</label>
              <h4 class="text-danger">75.3 %</h4>
            </div>
            <div class="col-3">
              <label>Other Activities</label>
              <h4 class="text-success">50 %</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-6"></div> -->
  </div>
</div>
