<div>
  <div class="row border-bottom white-bg">
    <div class="col-lg-12 m-t-xs">
      <i class="fa fa-group m-r-sm"></i>
      <label class="font-bold">Search Students Profiles</label>
      <div class="float-right">
        <a href="#" class="btn btn-primary btn-xs">
          <i class="fa fa-angle-double-left m-r-xs"></i>
          Back to Main
        </a>
      </div>
    </div>
  </div>
  <div class="row border-bottom white-bg">
    <div class="col-lg-12 m-t-xs m-b-xs">
      <div class="float-right">
        <div class="input-group">
          <input
            type="search"
            class="form-control form-control-sm"
            title="Search Regno or Name"
            placeholder="Search Here.."
          />
          <span class="input-group-append">
            <button type="button" class="btn btn-primary btn-sm">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="float-right">
        <a class="btn btn-white btn-sm" title="Refresh all Profiles">
          <i class="fa fa-refresh"></i>
        </a>
        <a class="btn btn-white btn-sm" title="Academic Details of this Batch">
          <i class="fa fa-book"></i>
        </a>
        <a
          class="btn btn-white btn-sm"
          title="Attendance Details of this Batch"
        >
          <i class="fa fa-calendar"></i>
        </a>

        <a class="btn btn-white btn-sm" title="Send Mail to this Batch">
          <i class="fa fa-envelope"></i>
        </a>

        <a
          class="btn btn-white btn-sm m-r-xs"
          title="Download this profiles as CSV"
        >
          <i class="fa fa-download"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="#!StudentProfile/710311104035">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/boy.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/girl.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/boy.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/girl.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/boy.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/girl.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/boy.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/girl.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/boy.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/girl.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/boy.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a class="row" href="profile.html">
            <div class="col-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="rounded-circle m-t-xs img-fluid"
                  src="img/girl.png"
                />
                <div class="m-t-xs font-bold">BE - CSE 2017-2021</div>
              </div>
            </div>
            <div class="col-8">
              <h3><strong>Sathishkumar</strong></h3>
              <p>Subramaniam</p>
              <p class="font-bold">
                <i class="fa fa-id-card-o"></i> <span>:</span> 710311104035
              </p>
              <div>
                <strong>Student Progress.</strong><br />
                Academic Score : 78%<br />
                Attendance : 90%<br />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
