<div class="row border-bottom white-bg">
  <div class="col-lg-12 m-t-xs">
    <i class="fa fa-group m-r-sm"></i>
    <label class="font-bold">Students Academic Data</label>
  </div>
</div>
<div class="row border-bottom white-bg">
  <div class="col-lg-12 m-t-xs">
    <label class="font-bold">
      <i class="fa fa-filter m-r-sm"></i>
      Apply Filters to view Students Academic Details
    </label>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <select id="searchBatch" name="searchBatch" class="form-control">
        <option value="">Select Batch</option>
        <option value="" disabled class="text-danger">B.E/B.Tech</option>
        <option value="2017_2021_be_btech">2017-2021</option>
        <option value="2018_2022_be_btech">2018-2022</option>
        <option value="2019_2023_be_btech">2019-2023</option>
        <option value="2020_2024_be_btech">2020-2024</option>
        <option value="" disabled class="text-danger">M.E/M.Tech</option>
        <option value="2020_2024_me_mtech">2017-2019</option>
        <option value="2020_2024_me_mtech">2018-2020</option>
      </select>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <select
        id="searchDepartment"
        name="searchDepartment"
        class="form-control"
      >
        <option value="">Select Dept</option>
        <option value="" disabled class="text-danger">B.E/B.Tech</option>
        <option value="be_cse">CSE</option>
        <option value="be_ece">ECE</option>
        <option value="be_eee">EEE</option>
        <option value="btech_mech">MECH</option>
        <option value="btech_it">IT</option>
        <option value="" disabled class="text-danger">M.E/M.Tech</option>
        <option value="me_cse">CSE</option>
      </select>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <select id="searchSemester" name="searchSemester" class="form-control">
        <option value="">Select Semester</option>
        <option value="be_cse">Sem 1</option>
        <option value="be_cse">Sem 2</option>
        <option value="be_cse">Sem 3</option>
        <option value="be_cse">Sem 4</option>
        <option value="be_cse">Sem 5</option>
        <option value="be_cse">Sem 6</option>
        <option value="be_cse">Sem 7</option>
        <option value="be_cse">Sem 8</option>
      </select>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <button type="submit" class="btn btn-md btn-primary">
        <i class="fa fa-filter m-r-xs"></i>
        <strong>Apply Filter</strong>
      </button>
      <button type="reset" class="btn btn-md btn-default">
        <strong>Reset</strong>
      </button>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            710311104035 - Sathishkumar
          </h5>
          <div class="ibox-tools">
            <a
              href="#!StudentProfile/710311104035"
              class="btn btn-primary btn-xs"
              >View Profile</a
            >
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 m-b-sm">
              <button class="btn btn-success btn-xs">GPA : 8</button>
              <button class="btn btn-success btn-xs">CGPA : 8</button>
              <button class="btn btn-danger btn-xs float-right">
                Backlock History : 1
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sub Code</th>
                  <th>Sub Name</th>
                  <th>IAE 1</th>
                  <th>IAE 2</th>
                  <th>IAE 3</th>
                  <th>Modal Exam</th>
                  <th>University Exam Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>MG1258</td>
                  <td>DPSD</td>
                  <td>70</td>
                  <td>50</td>
                  <td>89</td>
                  <td>72</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
